<!DOCTYPE html>
<html>
<head>
<title>Ashrab Pharmacy</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>



</head>
<body>
<div class="container-fluid" >
  <h1>WellCome To Ashraf Pharmacy</h1> 
	<p>Ashraf Pharmacy Moto</p>
	<a href="/sales" class="btn btn-primary" type="button" id="companyBtn"name="medicineBtn" >Sales Statics</a>
	<a href="/expense" class="btn btn-primary" type="button" id="companyBtn"name="medicineBtn" >Expense Statics</a>
</div>
</body>
</html>