<!DOCTYPE html>
<html>
<head>
<title>Ashrab Pharmacy-Business</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/angular/angular.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
<script type='text/javascript' src='/static/bootstrap/js/bootstrap.min.js'></script>




</head>
<body>
<div class="container-fluid" >
  <h1>WellCome To Ashraf Pharmacy</h1> 
	<p>Ashraf Pharmacy Moto</p>
	<a href="/sales" class="btn btn-primary" type="button" id="companyBtn"name="medicineBtn" >Sales Statics</a>
	<a href="/expense" class="btn btn-primary" type="button" id="companyBtn"name="medicineBtn" >Expense Statics</a>
</div>
</body>
</html>