<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example-Create User</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/angular/angular.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
<script type='text/javascript' src='/static/bootstrap/js/bootstrap.min.js'></script>

</head>
<body>

<div class="container" ng-app="myapp" ng-controller="accountcontroller">
    <h2>Add New Customer</h2>
    <form action="/create" method="POST">
        <div class="form-group">
            <label for="contact">Full Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter Name" required>
        </div>
        <div class="form-group">
            <label for="contact">Email/Phone Number</label>
            <input type="text" class="form-control" id="contact" name="contact" placeholder="Enter email/phone" required>
        </div>
        <div class="form-group">
            <label for="userName">User Name(4 Char Long & Unique)</label>
            <input type="text" minlength="5" class="form-control" id="userName" name="userName" ng-model="userName" ng-keyup="complete(userName)">
            <small id="warning" class="form-text text-muted text-danger" ng-model="hidethis" ng-hide="hidethis">userName already Taken.</small>
        </div>
        <div class="form-group">
            <label for="userName">Address:</label>
             <textarea rows="4" cols="50" class="form-control" id="address" name="address" ng-model="address" required>
            </textarea> 
        </div>

        <button type="submit" id="adduserbtn" name="adduserbtn" ng-model="adduserbtn" ng-hide="adduserbtn" class="btn btn-primary">Add User</button>
    </form>







</div>

</body>
</html>

<script type="text/javascript">
    var app = angular.module("myapp", []);
    app.controller("accountcontroller", function($scope, $http) {
         $scope.hidethis = true;
         $scope.adduserbtn =true;
        $scope.complete = function(string) {
            if(string && string.length >4 ){
                $scope.adduserbtn =false;
                getUserInfo(string);
            }else{
                $scope.adduserbtn =true;
            }
        }

        function getUserInfo(userName){
              $http({
                    method : "GET",
                      url : "/user?userName="+userName
                  }).then(function mySuccess(response) {
                    console.log(response.data)
                    if(response.data){
                      $scope.hidethis =false;
                      $scope.adduserbtn =true;
                    }else{
                        $scope.hidethis =true;
                        $scope.adduserbtn =false;
                    }
                  }, function myError(response) {
                    console.log(response)
                   alert("Service Not Working");
                });
        };

    });


</script>