<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<style>
li {
	cursor: pointer;
}

li:hover {
	background-color: #f9f9f9;
}
</style>
</head>
<body>
	<div ng-app="myapp" ng-controller="usercontroller">
		<!-- ---------------- -->
		<div class="container-fluid">
		<!-- 	<h1>ASHRAB PHARMACY</h1>
			<p>Ashrab Pharmacy Moto</p> -->
			<div class="form-row">
				<div class="form-group col-md-2">
					<p>
						<b>Date (From):</b>
					</p>
					<input type="date" name="bdaytime"  ng-model="date_from">
				</div>
				<div class="form-group col-md-2">
					<p>
						<b>Date (to):</b>
					</p>
					<input type="date" name="bdaytime"  ng-model="date_to">
				</div>
								<div class="form-group col-md-2">
					<p>
						<b>Search:</b>
					</p>
					<button type="button" id="companyBtn" name="medicineBtn"
					class="btn btn-success"  ng-click="onClickExpenseSearchBtnSubmit()">Search</button>
				</div>			

			</div>
			</br>
			</br>



<!-- --------Medicine List--------- -->
			<div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th >#</th>
							<th >Date</th>
							<th >Total</th>
							<th >Details</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="expenseSatic in expenseSatics" finalOrder>
							<th scope="row">{{ $index+1	}}</th>
							<td>{{expenseSatic.date | date:'dd-MMM-yyyy'}}</td>
							<td> {{expenseSatic.totalExpenseAmount}} </td>
						<!-- 	<td>{{expenseSatic.totalDueValue}}</td> -->
						</tr>
						<tr>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col" ng-model="totalAmount">Total (TK):&nbsp  {{totalAmount}}</th>
							<th scope="col" ng-model="totalAmount"></th>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- --------+++++++++++++++++--------- -->

		</div>
		

		
	</div>
</body>
</html>
<script>
	var app = angular.module("myapp", []);
	app.controller("usercontroller", function($scope, $http) {
	$scope.onClickExpenseSearchBtnSubmit=function(){

	if($scope.date_from && $scope.date_to){
	var date_from =$scope.date_from.getFullYear()+"-"+($scope.date_from.getMonth()+1)+"-"+$scope.date_from.getDate()+" "+"00:00:00"; 
	var date_to =$scope.date_to.getFullYear()+"-"+($scope.date_to.getMonth()+1)+"-"+$scope.date_to.getDate()+" "+"00:00:00"; 
		$http({
			method : "GET",
			url : "/expense/date"+"?"+"from="+date_from+"&to="+date_to
			}).then(function mySuccess(response) {
				$scope.expenseSatics = response.data;
			}, function myError(response) {
				alert("Search Failed");
			$scope.myWelcome = response.statusText;
			});
		}

	  }; 
		

		
	});
</script>