<!DOCTYPE html>
<html lang="en">
<head>
<title>Ashrab Pharmacy-Index</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- -BackGround Part -->
<script src="/static/angular/angular.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
<script type='text/javascript' src='/static/bootstrap/js/bootstrap.min.js'></script>

<link href="/views/css/background.css" rel="stylesheet">
<script src="/views/js/background.js"></script>
<!-- -BackGround Part -->

</head>
<body>
<div id="particles">
  <div id="webcoderskull">
    <h1>WellCome To Ashrab Pharmacy</h1> 
	<h5>Ashraf Pharmacy Moto<h5>
    
  </div>
</div>

</body>