<!DOCTYPE html>
<html lang="en">
<head>
<title>Ashrab Pharmacy</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- -BackGround Part -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="/views/css/background.css" rel="stylesheet">
<script src="/views/js/background.js"></script>
<!-- -BackGround Part -->

</head>
<body>
<div id="particles">
  <div id="webcoderskull">
    <h1>WellCome To Ashrab Pharmacy</h1> 
	<h5>Ashraf Pharmacy Moto<h5>
    
  </div>
</div>

</body>