
<!DOCTYPE html>
<html>
<head>
<title></title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
<style>
li {
	cursor: pointer;
}

li:hover {
	background-color: #f9f9f9;
}
</style>
</head>
<body>
	<div ng-app="myapp" ng-controller="usercontroller">
		<!-- ---------------- -->
		<div class="container-fluid">
			<h1>ASHRAB PHARMACY</h1>
			<p>ashrab Pharmacy Moto</p>
			<div class="form-row">
				<div class="form-group col-md-2">
					<p>
						<b>Search Category:</b>
					</p>
					<select id="inputState" class="form-control">
						<option selected>Medicine</option>
						<option>Company</option>
						<option>Generics</option>
					</select>
				</div>
				<div class="form-group col-md-3">
					<p>
						<b>Medicine Name:</b>
					</p>
					<input type="text" name="medicine" id="medicine" ng-model="medicine"
						ng-keyup="complete(medicine)" class="form-control" />
					<ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
						<li class="list-group-item"
							ng-repeat=" medicinedata in filterCountry"
							ng-click="fillTextbox(medicinedata)">{{medicinedata.name+'  ('+medicinedata.type.name+') '}}</li>
					</ul>
				</div>
				<!-- "medicine as medicine.name for medicine in medicines" -->
				<div class="form-group col-md-3">
					<p>
						<b>Medicine Quantity:</b>
					</p>
					<input type="number" class="form-control" id="quantity" min="1"  ng-model="quantity"
						placeholder="Medicine Quantity">
				</div>
				<div class="form-group col-md-2">
					<p>
						<b> Save Button</b>
					</p>
					<button type="button" id="medicineAddBtn" name="medicineAddBtn"
					ng-click="addToOrder()"	class="btn btn-success">ADD MEDICINE</button>
				</div>
			</div>
			</br>
			</br>
			<!-- --------Medicine List--------- -->
			<div>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Medicine</th>
							<th scope="col">Quantity</th>
							<th scope="col">TotalPrice</th>
							<th scope="col">Delete</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="order in finalOrder" finalOrder>
							<th scope="row">{{ $index+1	}}</th>
							<td>{{order.product.name  +'  ('+ order.product.type.name+')'}}</td>
							<td>{{order.quantity}}</td>
							<td>{{order.quantity*order.product.priceIP}}</td>
							<td><button class="btn btn-danger" ng-click="removeOrder(order,$index)">X</button></td>
						</tr>
						<tr>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col"></th>
							<th scope="col" ng-model="totalAmount">Total Amount(TK):&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp  {{totalAmount}}</th>
							<th scope="col" ng-model="totalAmount"></th>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- --------+++++++++++++++++--------- -->
			<div>
				<button type="button" id="companyBtn" name="medicineBtn"
					class="btn btn-success" data-toggle="modal"
					data-target="#customerInfoModal">Save And Print</button>
				<button type="button" id="companyBtn" name="medicineBtn"
					class="btn btn-success" data-toggle="modal"
					data-target="#customerInfoModal">Save</button>
			</div>



		</div>
		
	<!-- __________________________________modal For Sale Submit______________________________ -->
<!--   -->
<!-- Modal -->
<div class="modal fade" id="customerInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Sales Information ghfdgkfghk</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       	<form class="form-horizontal" action="#">
       		  <div class="form-check">
			    <label >
			    <input type="checkbox" class="form-check-input" id="cashBackCheck" ng-model="cashBack">
			    Add To CashBack Policy. 
			</label>
			  </div>

  			<div class="form-group">
		    <label class="control-label col-sm-2" for="medicineName">Customer Name:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="medicineName" placeholder="Enter Medicine Name"  ng-model="customerName">
		    </div>
		  </div>
		   <div class="form-group">
		    <label class="control-label col-sm-2" for="medicineName">Customer Contact Number:</label>
		    <div class="col-sm-10">
		      <input type="text" class="form-control" id="medicineName" placeholder="Enter Medicine Name"  ng-model="customerContactNo">
		    </div>
		  </div>
		  	<div class="form-group">
		    <label class="control-label col-sm-2" for="genericsName">Comision*:</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="genericsName" placeholder="Enter Generics Name" ng-change="calculateComision()" ng-model="comision">
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="control-label col-sm-2" for="genericsName" >Total Amount: </label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="genericsName" placeholder=""  ng-change="calculateComision()" ng-model="totalAmount" readonly>
		    </div>
		  </div>
		  	<div class="form-group">
		    <label class="control-label col-sm-2" for="genericsName">Total Amount(With Commision):</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="genericsName" placeholder=""  ng-model="medicinePriceWithComision" readonly>
		    </div>
		  </div>		  
		 <div class="form-group">
		    <label class="control-label col-sm-2" for="genericsName">Payment*:</label>
		    <div class="col-sm-10">
		      <input type="number" class="form-control" id="genericsName" placeholder="Enter Generics Name"  ng-model="customerPaying">
		    </div>
		  </div>
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button  class="btn btn-primary" ng-click="submitOrder()" >Save Sales</button>
      </div>
    </div>
  </div>
</div>
		
	</div>
</body>
</html>
<script>
	var app = angular.module("myapp", []);
	app.controller("usercontroller", function($scope, $http) {
		
		var tempFinalOrder=[];
		var productCounter=0;
		var selected;
		$scope.totalAmount=0;
		$scope.comision=0;
		$scope.medicinePriceWithComision=0;
		$scope.customerPaying=$scope.medicinePriceWithComision;
   		function loadMedicine(){
			  $http({
				    method : "GET",
				      url : "/product/"
				  }).then(function mySuccess(response) {
					  $scope.medicineList = response.data;
					  
				  }, function myError(response) {
				   alert("No Medicine Found");
				  });
		};
		loadMedicine(); 
	
		$scope.complete = function(string) {
			//alert($scope.medicineList[0])
			$scope.hidethis = false;
			if(!string){	$scope.hidethis =true;	}
			var output = [];
			angular.forEach($scope.medicineList, function(medicine) {
				if(medicine.name){
					if (medicine.name.toLowerCase().indexOf(string.toLowerCase()) >= 0) {
						output.push(medicine);
					}
				}
				
			});
			$scope.filterCountry = output;
		}
		$scope.fillTextbox = function(data) {
				$scope.medicine = data.name;
				selected=data;
				$scope.hidethis = true;
		
		}
		$scope.addToOrder= function() {
			if($scope.medicine && $scope.quantity  && selected ){
				var tempObj={"product":selected,"quantity":$scope.quantity};
				$scope.totalAmount+=Number(selected.priceIP)* Number($scope.quantity);
				$scope.medicinePriceWithComision=$scope.totalAmount-( $scope.totalAmount *($scope.comision/100));
				$scope.customerPaying=$scope.medicinePriceWithComision;
				selected="";
				$scope.quantity="";
				$scope.medicine="";
				tempFinalOrder.push(tempObj);
				$scope.finalOrder=tempFinalOrder;
			}else{
				alert("Product Name and Product Quantity Must Not Be Empty");
			}
		}
		$scope.removeOrder= function(order,orderindex) {
		 	tempFinalOrder = $scope.finalOrder.filter((value, index,tempFinalOrder)=>{
		 		if(value.product.medicine_id==order.product.medicine_id && orderindex==index){
		 			$scope.totalAmount-=Number(order.product.priceIP)* Number(order.quantity);
					$scope.medicinePriceWithComision=$scope.totalAmount-( $scope.totalAmount *($scope.comision/100));
					$scope.customerPaying=$scope.medicinePriceWithComision;
		 			return false;
		 		}return true;
			}); 
		 	$scope.finalOrder=tempFinalOrder;
		 	tempFinalOrder=[];
		}
		
		
		$scope.calculateComision= function() {
			if($scope.comision <=10 && $scope.comision >=0){
				$scope.medicinePriceWithComision=$scope.totalAmount-( $scope.totalAmount *($scope.comision/100));
				$scope.customerPaying=$scope.medicinePriceWithComision;
			}else{
				alert("Comision Is Exciding Buying Rate");
				$scope.comision=0;
				
			}

		}

		$scope.submitOrder= function() {
			if($scope.totalAmount >0 ){
			var customer={"customerName":$scope.customerName,
						  "customerContactNo":$scope.customerContactNo,
						  "totalPrice":$scope.totalAmount,
						  "payment":$scope.customerPaying,
						  "comision":$scope.comision,
						  "salesBy":{"person_id":1,"name":"Abu Bakkar"}};
			var orders={"orders":$scope.finalOrder,
						"customer":customer
						};
						console.log(orders);
			  $http({
				    method : "POST",
				      url : "/customer/sale",
				  	  data: JSON.stringify(orders)
				  }).then(function mySuccess(response) {
				  	//generate PDF and Print It
				  	$("#customerInfoModal").modal("hide");
					 alert("Order Submited Sucessfully");
					 $scope.customerName="";
					 $scope.customerContactNo="";
					 $scope.totalAmount=0;
					 $scope.customerPaying=0;
					 $scope.comision=0;
					 $scope.finalOrder=[];
					 tempFinalOrder=[];
					 selected="";
					$scope.quantity="";
					$scope.medicine="";
					$scope.finalOrder=[];
					  
				  }, function myError(response) {
				   alert("Failed to Submit This ORDER");
				  });

			}else{
				alert("Information Is not Enough");
			}
		}
		

		
		
	});
</script>
